.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #008CBA;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}


.field {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-width: 1.5px;
  /*border: medium black currentColor;*/
  text-align: center;
  color: #888;
  padding: 5px;
}

.top_left {
  border-width: 3px 1.5px 1.5px 3px;
}

.top_mid {
  border-width: 3px 1.5px 1.5px 1.5px;
}

.top_right {
  border-width: 3px 1.5px 1.5px 1.5px;
}

.top_right_end {
  border-width: 3px 3px 1.5px 1.5px;
}

.mid_left{
  border-width: 1.5px 1.5px 1.5px 3px;
}

.mid_right_end {
  border-width: 1.5px 3px 1.5px 1.5px;
}

.bottom_left {
  border-width: 1.5px 1.5px 3px 3px;
}

.bottom_mid {
  border-width: 1.5px 1.5px 3px 1.5px;
}

.bottom_right {
  border-width: 1.5px 1.5px 3px 1.5px;
}

.bottom_right_end {
  border-width: 1.5px 3px 3px 1.5px;
}

.field[readonly] {
  color:#222;
  /*border-width: 1.5px 1.5px 1.5px 1.5px;*/
}

.solve_sudoku{
  margin-top: 5px;
}

.button{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  border: 1px solid #008CBA;
}

.button:hover {
  background-color: white; /* Green */
  color: #008CBA;
  border: 1px solid #008CBA;
  cursor: pointer;
}

.input-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.grid-options {
  margin-bottom : "5px";
}

.not-allowed {
  cursor: not-allowed !important;
}

.unclickable {
  opacity: 0.6; 
  pointer-events: none;
}